<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>

    <title>{{title}}</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	{% block meta %}
	{% endblock %}

	<style>
	{% block style %}
	{% endblock %}
	</style>

	{% block jsimport %}
	{% endblock %}

	<script>
	{% block js %}
	{% endblock %}

	function init(){
		console.log("base.init");
	}
	</script>

</head>

<body onload="init()">
{% block content %}
{% endblock %}
</body>
</html>
