<html>
<head>
<title>{{title}}</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/static/creditfeeder/images/anim.png">
<link rel="stylesheet" href="/static/creditfeeder/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/creditfeeder/css/creditfeeder.css">

<script src="/static/creditfeeder/js/jquery.min.js"></script>
<script src="/static/creditfeeder/js/utils.js"></script>
<script>
window.collectB=null;
$(document).ready(function(){

	print("ready");

	var students=JSON.parse(decode("{{str_students}}"));
	var assignments=JSON.parse(decode("{{str_assignments}}"));
	var activities=JSON.parse(decode("{{str_activities}}"));

	print(students.length)
	print(assignments.length)
	print(activities.length)

	var html="";
	for(var sidx=0;sidx<students.length;sidx++){
		print(students[sidx])
		var opt=document.createElement("option")
		opt.id=students[sidx]
		opt.value=students[sidx]
		opt.text=students[sidx]
		$("#student_select").append(opt)

		html+='<a href="#">'+students[sidx]+'</a>';

	}
	$("#student-usernames").html(html);
	$("#student_dropdown").html(students[0]);

	for(var aidx=0;aidx<activities.length;aidx++){
		var opt=document.createElement("option")
		opt.id=activities[aidx]
		opt.value=activities[aidx]
		opt.text=activities[aidx]
		$("#activity_select").append(opt)
	}

	for(var aidx=0;aidx<assignments.length;aidx++){
		cover_img='/static/creditfeeder/images/jcdesign.jpg';
		print(assignments[aidx]);
		try{cover_img=assignments[aidx]['cover_img'];}
		catch(e){print("line52 "+e);}
		var att={'activity_name':assignments[aidx]['activity_name'],'title':assignments[aidx]['title'],'cover_img':cover_img,'id':assignments[aidx]['id'],'mode':0};
		var a=createAssignmentObj(att);
		document.getElementById("attachments_bar").appendChild(a);
		print(assignments[aidx])
		add_assignment(assignments[aidx])
	}

	$("#create_form").submit(function(e){
		print("submitting create_form ...")
		$.ajax({
			type: "POST",
			url: "/create",
			data: $("#create_form").serialize(),
			success: function(rval){
				print("rval="+rval);
				rval=JSON.parse(decode(rval));
				var att={'activity_name':rval['activity_name'],'title':rval['title'],'cover_img':rval['cover_img'],'id':rval['id'],'mode':0};
				var a=createAssignmentObj(att);
				document.getElementById("attachments_bar").appendChild(a);
				add_assignment(rval)
			}//change "saveB" color
		});
		e.preventDefault();
	});

	$("#assign_form").submit(function(e){
		print("submitting assign_form ...")
		$.ajax({
			type: "POST",
			url: "/assign",
			data: $("#assign_form").serialize(),
			success: function(rval){
				rval=JSON.parse(decode(rval));
//				add_assignment_to_student(rval);
				var att={'activity_name':rval['activity_name'],'cover_img':rval['cover_img'],'title':rval['title'],'id':rval['id'],'mode':1};
				var a=createAssignmentObj(att);
				document.getElementById("student_attachments_bar").appendChild(a);
			}//change "saveB" color
		});
		e.preventDefault();
	});

	$("#remove_form").submit(function(e){
		print("submitting remove_form ...")
		$.ajax({
			type: "POST",
			url: "/remove",
			data: $("#remove_form").serialize(),
			success: function(rval){
				console.log(rval);
				rval=JSON.parse(decode(rval));
				remove_student_assignment_obj(rval['widget_id']);
			}
		});
		e.preventDefault();
	});

	$("#delete_form").submit(function(e){
		print("submitting delete_form ...")
		$.ajax({
			type: "POST",
			url: "/delete",
			data: $("#delete_form").serialize(),
			success: function(rval){
				console.log(rval);
				rval=JSON.parse(decode(rval));
				remove_student_assignment_obj(rval['widget_id']);
				remove_assignment_obj(rval['widget_id']);
			}
		});
		e.preventDefault();
	});

	$("#load_student_form").submit(function(e){
		print("submitting load_student_form ...")
		$.ajax({
			type: "POST",
			url: "/load_student",
			data: $("#load_student_form").serialize(),
			success: function(rval){
				print(rval);
				var assignments=JSON.parse(decode(rval))
				for(var aidx=0;aidx<assignments.length;aidx++){
					add_assignment_to_student(assignments[aidx]);
					cover_img='/static/creditfeeder/images/jcdesign.jpg';
					try{cover_img=assignments[aidx]['cover_img'];}
					catch(e){print(e);}
								var att={'activity_name':assignments[aidx]['activity_name'],'cover_img':cover_img,'title':assignments[aidx]['title'],'id':assignments[aidx]['id'],'mode':1};
					var a=createAssignmentObj(att);
					document.getElementById("student_attachments_bar").appendChild(a);
				}
			}
		});
		e.preventDefault();
	});
	typeCB('ColorMyWorld');
	load_studentCB();
});//ready
var load_studentCB=function(){
//	var student_username=get_selected("student_select",0)
	var student_username=document.getElementById("student_dropdown").innerHTML;
	print("load_studentCB: "+student_username);
	//Get assignment list, then for each assignment call add_assignment_to_student(a)
	pval={}
	pval['student_username']=student_username;
	$('#load_student_pyld').val(JSON.stringify(pval));
	$("#load_student_form").submit();
}
var createCB=function(){
	var activity_name=document.getElementById("activity_dropdown").innerHTML;
	print("create assignment: "+activity_name);
	pval={};
	pval['action']="new_assignment";
	pval['activity_name']=activity_name;
	$('#create_pyld').val(JSON.stringify(pval));
	$("#create_form").submit();
}
window.addEventListener("message", function(event) {
    print("Hello from " + event.data);
		$("#collectB").toggleClass('show');
});
var assignCB=function(id){
	print('assignCB');
	var a_id=id.split("_")[1];
	var ssid="select_student_"+a_id;
	var uname=document.getElementById("student_dropdown").innerHTML;//get_selected(ssid,1);
	print("assign "+a_id+" to "+uname);
	pval={};
	pval['assignment_id']=a_id;
	pval['student_username']=uname;
	$('#assign_pyld').val(JSON.stringify(pval));
	$("#assign_form").submit();
}
var remove_student_assignment_row=function(row_id){
	var t=document.getElementById("student_assignments");
	var rows=t.rows;
	var target_idx=null;
	for(var ridx=0;ridx<rows.length;ridx++){
		var r=rows[ridx];
		if(r.id==row_id)target_idx=ridx;
	}
	t.deleteRow(target_idx);
}
var remove_student_assignment_obj=function(obj_id){
	print("remove_student_assignment_obj "+obj_id);
	var sab=document.getElementById("student_attachments_bar");
	for(var cidx=0;cidx<sab.childNodes.length;cidx++){
		print("cns[cidx]="+sab.childNodes[cidx].id);
		if(sab.childNodes[cidx].id==obj_id){
			sab.removeChild(sab.childNodes[cidx]);
		}
	}
}
var remove_assignment_obj=function(obj_id){
	print("remove_assignment_obj "+obj_id);
	var sab=document.getElementById("attachments_bar");
	for(var cidx=0;cidx<sab.childNodes.length;cidx++){
		print("cns[cidx]="+sab.childNodes[cidx].id);
		if(sab.childNodes[cidx].id==obj_id){
			sab.removeChild(sab.childNodes[cidx]);
		}
	}
}
var removeCB=function(id){
	print("removeCB: "+id);
	var assignment_id=id.split("_")[1];
	var row_id="student_assignment_row_"+assignment_id;
//	remove_student_assignment_row(row_id)
	pval={};
	pval['assignment_id']=assignment_id;
	pval['widget_id']=id;
	pval['student_username']=document.getElementById("student_dropdown").innerHTML;//get_selected("student_select",1);
	$('#remove_pyld').val(JSON.stringify(pval));
	$("#remove_form").submit();
}
var deleteCB=function(id){
	print("deleteCB: "+id);
	var a_id=id.split("_")[1];
	var row_id="assignment_table_row_"+a_id;
	var t=document.getElementById("assignment_table");
	var rows=t.rows;
	var target_idx=null;
	for(var ridx=0;ridx<rows.length;ridx++){
		var r=rows[ridx];
		if(r.id==row_id)target_idx=ridx;
	}
	t.deleteRow(target_idx);//backwards -- should wait for Ajax success before removing, but have info here
	pval={};
	pval['assignment_id']=a_id;
	pval['widget_id']=id;
	$('#delete_pyld').val(JSON.stringify(pval));
	$("#delete_form").submit();

//	var row_id="student_assignment_row_"+a_id;
//	remove_student_assignment_row(row_id);
}
var editCB=function(id){
	print("editCB: "+id);
}
var logoutCB=function(){
	window.location="/logout";
}
var typeCB=function(e){
	print("typeCB: "+e);
	$("#activity_dropdown").html(e);
	//if($(".dropdown-content").css("display")=="block"){
	//	$(".dropdown-content").css("display","none");
	//}
	//else $(".dropdown-content").css("display","block");

}
window.onresize=function(){
	var status=window.innerWidth+" x "+window.innerHeight;
//	$("#debug").html(status);
}
var trackerCB=function(){
	print("trackerCB 01");
	$("#tracker").toggleClass('show');
	print("trackerCB 02");
//	window.open("/lanwatch");
}
var collectCB=function(){
	print("collectCB 01");
	$("#tracker").toggleClass('show');
	print("EXPERIMENT SUCCESS!  We can call to anywhere!");//well this will ensure that we're talking to server.
//	window.open("/lanwatch");
}
var showCollectCB=function(){
	print("showCollectCB 01");
	$("#collectB").toggleClass('show');
	print("showCollectCB 02");
}

</script>
</head>
<body style="background-color:#39c968;">

	<div id="tracker" class="animate" onclick="trackerCB()" style="position:fixed;z-index:20;left:0px;top:0px;"></div>

	<div class="icon-bar" style="position:fixed;z-index:10;left:0px;top:0px;" id="icon_bar">
		<a class="quarter"><div id="debug"></div></a>
		<a class="half">{{username}}</a>
		<a id="logoutB" class="quarter" onclick="logoutCB()"><i style="font-size:38px;" class="fa">&#xf08b;</i></a>
	</div>
	<div id="v100" style="height:70px"></div>

	<div class="row" id="row1">
	  <div class="column" id="column1">
	    <div class="card" id="card1">
				<div class="container" id="container1">

					<div class="dropdown">
					  <button class="pressbutton dropbtn" id="activity_dropdown" style="border-radius:0px;">ColorMyWorld</button>
					  <div class="dropdown-content">
					    <a href="#" onclick="typeCB('ColorMyWorld')" id="ColorMyWorld">ColorMyWorld</a>
					    <a href="#" onclick="typeCB('NowReadThis')" id="NowReadThis">NowReadThis</a>
					    <a href="#" onclick="typeCB('TuxMathScrabble')" id="TuxMathScrabble">TuxMathScrabble</a>
							<a href="#" onclick="typeCB('Gears.activity')" id="Gears.activity">Gears</a>
							<a href="#" onclick="typeCB('PhysicsJS.activity')" id="PhysicsJS.activity">PhysicsJS</a>
							<a href="#" onclick="typeCB('Clock.activity')" id="Clock.activity">Clocks</a>
							<a href="#" onclick="typeCB('Abecedarium.activity')" id="Abecedarium.activity">Abecedarium</a>
					  </div>
					</div>

					<div class="vspace"></div>

					<button class="pressbutton" onclick="createCB()">Create New</button>
					<br><br>
					<div class="attachment-bar" id="attachments_bar"></div>

				</div>
			</div>
		</div>

		<div class="column" id="column2">
	    <div class="card" id="card2">
				<div class="container" id="container2">

					<div class="dropdown">
					  <button class="dropbtn pressbutton" id="student_dropdown" style="border-radius:0px;width:320px;"></button>
					  <div class="dropdown-content" id="student-usernames" style="width:320px;"></div>
					</div>

					<br><br>
					<div class="attachment-bar" id="student_attachments_bar"></div>

				</div>
			</div>
		</div>
	</div>





<div style="display:none;">
<fieldset>
	<legend>Manage All</legend>
	<table id="create_table">
	<tr>
	<td>
		<select id="activity_select">
		</select>
		<button id="createB" onclick="createCB()"><i style="font-size:24px" class="fa">&#xf196;</i></button>
	</td>
	</tr>
	</table>

	<table id="assignment_table">
		<tr>
		<th>Title</th>
		<th>Activity</th>
		<th>Edit</th>
		<th>Test</th>
		<th>Assign</th>
		<th>Select</th>
		<th>Delete</th>
		</tr>
	</table>
</fieldset>


<fieldset>
	<legend>Manage Student</legend>
	<select id="student_select" onchange="load_studentCB()"></select>

	<table id="student_assignments">
		<tr>
		<th>Title</th>
		<th>Activity</th>
		<th>Complete</th>
		<th>Remove</th>
		</tr>
	</table>
</fieldset>
</div>

<form id="create_form" method="POST">
	{% csrf_token %}
	<input id="create_pyld" type="hidden" name="create_pyld"></input>
</form>
<form id="assign_form" method="POST">
	{% csrf_token %}
	<input id="assign_pyld" type="hidden" name="assign_pyld"></input>
</form>
<form id="remove_form" method="POST">
	{% csrf_token %}
	<input id="remove_pyld" type="hidden" name="remove_pyld"></input>
</form>
<form id="load_student_form" method="POST">
	{% csrf_token %}
	<input id="load_student_pyld" type="hidden" name="load_student_pyld"></input>
</form>
<form id="delete_form" method="POST">
	{% csrf_token %}
	<input id="delete_pyld" type="hidden" name="delete_pyld"></input>
</form>

</body>
</html>
