<html>
<style>

</style>
<head>
<title>{{title}}</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/static/creditfeeder/images/anim.png">
<link rel="stylesheet" href="/static/creditfeeder/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/creditfeeder/css/creditfeeder.css">

<script src="/static/creditfeeder/js/jquery.min.js"></script>
<script src="/static/creditfeeder/js/utils.js"></script>
<script>
$(document).ready(function(){

	print("ready");

	var students=JSON.parse(decode("{{str_students}}"));
	var assignments=JSON.parse(decode("{{str_assignments}}"));
	var activities=JSON.parse(decode("{{str_activities}}"));

	print(students.length)
	print(assignments.length)
	print(activities.length)

	var html="";
	for(var sidx=0;sidx<students.length;sidx++){
		print(students[sidx])
		var opt=document.createElement("option")
		opt.id=students[sidx]
		opt.value=students[sidx]
		opt.text=students[sidx]
		$("#student_select").append(opt)

		html+='<a href="#">'+students[sidx]+'</a>';

	}
	$("#student-usernames").html(html);
	$("#student_dropdown").html(students[0]);

	for(var aidx=0;aidx<activities.length;aidx++){
		var opt=document.createElement("option")
		opt.id=activities[aidx]
		opt.value=activities[aidx]
		opt.text=activities[aidx]
		$("#activity_select").append(opt)
	}

	for(var aidx=0;aidx<assignments.length;aidx++){
		var att={'activity_name':assignments[aidx]['activity_name'],'title':assignments[aidx]['title'],'id':assignments[aidx]['id'],'mode':0};
		var a=createAssignmentObj(att);
		document.getElementById("attachments_bar").appendChild(a);
		print(assignments[aidx])
		add_assignment(assignments[aidx])
	}

	$("#create_form").submit(function(e){
		print("submitting create_form ...")
		$.ajax({
			type: "POST",
			url: "/create",
			data: $("#create_form").serialize(),
			success: function(rval){
				print("rval="+rval);
				rval=JSON.parse(decode(rval));
				var att={'activity_name':rval['activity_name'],'title':rval['title'],'id':rval['id'],'mode':0};
				var a=createAssignmentObj(att);
				document.getElementById("attachments_bar").appendChild(a);
				add_assignment(rval)
			}//change "saveB" color
		});
		e.preventDefault();
	});

	$("#assign_form").submit(function(e){
		print("submitting assign_form ...")
		$.ajax({
			type: "POST",
			url: "/assign",
			data: $("#assign_form").serialize(),
			success: function(rval){
				rval=JSON.parse(decode(rval));
//				add_assignment_to_student(rval);
				var att={'activity_name':rval['activity_name'],'title':rval['title'],'id':rval['id'],'mode':1};
				var a=createAssignmentObj(att);
				document.getElementById("student_attachments_bar").appendChild(a);
			}//change "saveB" color
		});
		e.preventDefault();
	});

	$("#remove_form").submit(function(e){
		print("submitting remove_form ...")
		$.ajax({
			type: "POST",
			url: "/remove",
			data: $("#remove_form").serialize(),
			success: function(rval){
				console.log(rval);
				rval=JSON.parse(decode(rval));
				remove_student_assignment_obj(rval['widget_id']);
			}
		});
		e.preventDefault();
	});

	$("#delete_form").submit(function(e){
		print("submitting delete_form ...")
		$.ajax({
			type: "POST",
			url: "/delete",
			data: $("#delete_form").serialize(),
			success: function(rval){
				console.log(rval);
				rval=JSON.parse(decode(rval));
				remove_student_assignment_obj(rval['widget_id']);
				remove_assignment_obj(rval['widget_id']);
			}
		});
		e.preventDefault();
	});

	$("#load_student_form").submit(function(e){
		print("submitting load_student_form ...")
		$.ajax({
			type: "POST",
			url: "/load_student",
			data: $("#load_student_form").serialize(),
			success: function(rval){
				print(rval);
				var assignments=JSON.parse(decode(rval))
				for(var aidx=0;aidx<assignments.length;aidx++){
					add_assignment_to_student(assignments[aidx]);
					var att={'activity_name':assignments[aidx]['activity_name'],'title':assignments[aidx]['title'],'id':assignments[aidx]['id'],'mode':1};
					var a=createAssignmentObj(att);
					document.getElementById("student_attachments_bar").appendChild(a);
				}
			}
		});
		e.preventDefault();
	});
	typeCB('ColorMyWorld');
	load_studentCB();
});//ready

</script>
</head>
<body style="background-color:#39c968;">
	<div class="icon-bar" style="position:fixed;z-index:10;left:0px;top:0px;" id="icon_bar">
		<a class="quarter"></a>
		<a class="half">{{username}}</a>
		<a id="logoutB" class="quarter" onclick="logoutCB()"><i style="font-size:38px;" class="fa">&#xf2d3;</i></a>
	</div>
	<div id="v100" style="height:70px"></div>

	<div class="row" id="row1">
	  <div class="column" id="column1">
	    <div class="card" id="card1">
				<div class="container" id="container1">

					<div class="dropdown">
					  <button class="pressbutton dropbtn" id="activity_dropdown" style="border-radius:0px;">ColorMyWorld</button>
					  <div class="dropdown-content">
					    <a href="#" onclick="typeCB('ColorMyWorld')" id="ColorMyWorld">ColorMyWorld</a>
					    <a href="#" onclick="typeCB('NowReadThis')" id="NowReadThis">NowReadThis</a>
					    <a href="#" onclick="typeCB('TuxMathScrabble')" id="TuxMathScrabble">TuxMathScrabble</a>
					  </div>
					</div>

					<div class="vspace"></div>

					<button class="pressbutton" onclick="createCB()">Create New</button>
					<br><br>
					<div class="attachment-bar" id="attachments_bar"></div>

				</div>
			</div>
		</div>

		<div class="column" id="column2">
	    <div class="card" id="card2">
				<div class="container" id="container2">

					<div class="dropdown">
					  <button class="dropbtn pressbutton" id="student_dropdown" style="border-radius:0px;width:320px;"></button>
					  <div class="dropdown-content" id="student-usernames" style="width:320px;"></div>
					</div>

					<br><br>
					<div class="attachment-bar" id="student_attachments_bar"></div>

				</div>
			</div>
		</div>
	</div>





<div style="display:none;">
<fieldset>
	<legend>Manage All</legend>
	<table id="create_table">
	<tr>
	<td>
		<select id="activity_select">
		</select>
		<button id="createB" onclick="createCB()"><i style="font-size:24px" class="fa">&#xf196;</i></button>
	</td>
	</tr>
	</table>

	<table id="assignment_table">
		<tr>
		<th>Title</th>
		<th>Activity</th>
		<th>Edit</th>
		<th>Test</th>
		<th>Assign</th>
		<th>Select</th>
		<th>Delete</th>
		</tr>
	</table>
</fieldset>


<fieldset>
	<legend>Manage Student</legend>
	<select id="student_select" onchange="load_studentCB()"></select>

	<table id="student_assignments">
		<tr>
		<th>Title</th>
		<th>Activity</th>
		<th>Complete</th>
		<th>Remove</th>
		</tr>
	</table>
</fieldset>
</div>

<form id="create_form" method="POST">
	{% csrf_token %}
	<input id="create_pyld" type="hidden" name="create_pyld"></input>
</form>
<form id="assign_form" method="POST">
	{% csrf_token %}
	<input id="assign_pyld" type="hidden" name="assign_pyld"></input>
</form>
<form id="remove_form" method="POST">
	{% csrf_token %}
	<input id="remove_pyld" type="hidden" name="remove_pyld"></input>
</form>
<form id="load_student_form" method="POST">
	{% csrf_token %}
	<input id="load_student_pyld" type="hidden" name="load_student_pyld"></input>
</form>
<form id="delete_form" method="POST">
	{% csrf_token %}
	<input id="delete_pyld" type="hidden" name="delete_pyld"></input>
</form>

</body>
</html>
