<html>
<style>
fieldset{width:0%;padding:100px 100px;}
</style>
<head>
<title>{{title}}</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/static/creditfeeder/images/anim.png">
<link rel="stylesheet" href="/static/creditfeeder/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/creditfeeder/css/creditfeeder.css">
<script src="/static/creditfeeder/js/jquery.min.js"></script>
<script src="/static/creditfeeder/js/utils.js"></script>
<script>
$(document).ready(function(){
	var assignments=JSON.parse(decode("{{str_assignments}}"));
	for(var aidx=0;aidx<assignments.length;aidx++){
//		add_assignment_to_student(assignments[aidx]);
		var att={'activity_name':assignments[aidx]['activity_name'],'title':assignments[aidx]['title'],'id':assignments[aidx]['id'],'mode':2};
		var a=createAssignmentObj(att);
		document.getElementById("student_attachments_bar").appendChild(a);
	}
});
</script>
</head>

<body>

		<div class="icon-bar" style="position:fixed;z-index:10;left:0px;top:0px;" id="icon_bar">
			<a class="quarter"></a>
			<a class="half">{{username}}</a>
			<a id="logoutB" class="quarter" onclick="logout()"><i style="font-size:38px;" class="fa">&#xf08b;</i></a>
		</div>
		<div id="v100" style="height:70px"></div>

		<div class="row" id="row1">
		  <div class="column" id="column2" style="width:100%">
		    <div class="card" id="card2">
					<div class="container" id="container2">

						<div class="attachment-bar" id="student_attachments_bar" style="width:100%"></div>

					</div>
				</div>
			</div>
		</div>

</body>
</html>
