<html>
<style>
fieldset{width:0%;padding:100px 100px;}
</style>
<head>
<title>{{title}}</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/static/creditfeeder/images/anim.png">
<link rel="stylesheet" href="/static/creditfeeder/css/font-awesome.min.css">
<script src="/static/creditfeeder/js/jquery.min.js"></script>
<script src="/static/creditfeeder/js/utils.js"></script>
<script>
$(document).ready(function(){
	var assignments=JSON.parse(decode("{{str_assignments}}"));
	var t=document.getElementById("student_assignments");
	for(var aidx=0;aidx<assignments.length;aidx++){
		a=assignments[aidx];
		print(a)
		var r=t.insertRow(-1);
		r.id="student_assignment_row_"+a.id;

		var c=r.insertCell(-1);
		c.appendChild(mkHtmlDiv(a['title']))

		var c=r.insertCell(-1);
		c.appendChild(mkHtmlDiv(a['activity_name']))

		var c=r.insertCell(-1);
		c.appendChild(mkHtmlDiv(a['complete']))

		var c=r.insertCell(-1);
		c.appendChild(mkEarnB(a['activity_name']))
	}
});
var earnCB=function(){
	print("earnCB");
}
</script>
</head>
<body>
<div>{{username}}</div>
<div>Credit Balance: {{credit_balance}}</div>
<fieldset>
	<legend>Credit-Earning Options</legend>
	<table id="student_assignments">
		<tr>
		<th>Title</th>
		<th>Activity</th>
		<th>Complete</th>
		<th>Earn</th>
		</tr>
	</table>
</fieldset>

<button onclick="logout()">Logout</button>

</body>
</html>
